h1{
  text-align: center;
  margin: 5px;
}
body{
    text-align: center;
    margin: auto;
}    
body.darkmode {
  background-color: rgb(88, 81, 81);
  color: white ;
}
  button{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    
}
canvas {
  margin: 20px;
}

p{
    font-size: 20px;
    font-weight: bold;
}